@model Veterinaria.web.Models.RegisterViewModel

<h2 class="bg-warning text-center">REGISTRARSE COMO NUEVO USUARIO</h2>



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="showcase-text">
    <h4>Crear nueva cuenta</h4>
        </div>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label-2" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default btn-outline-dark" value="Registrarse" />
            <a class="btn btn-outline-danger" href="@Url.Action("Index","Principal")">Cancelar</a>
        </div>
    </div>
    
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
